<div class="top">
  <img src="../../assets/hamburger-icon.svg" alt="ícone de hamgurger">
  <img src="../../assets/app-logo-small.svg" alt="logo da moswa">
  <div>
    <img src="../../assets/heart-icon.svg" alt="coração">
    <img src="../../assets/bag-icon.svg" alt="sacola">
    <div class="notification"></div>
  </div>
</div>
<ul>
  <li class="active">
    <img class="puzzle-fix" src="../../assets/puzzle-icon.png" alt="peça de quebra-cabeça">
    <label for="">Montar Produto</label>
  </li>
  <li>
    <img src="../../assets/ring-icon.svg" alt="anél">
    <label for="">Produto Finalizado</label>
  </li>
  <li>
    <img src="../../assets/tag-icon.svg" alt="etiqueta">
    <label for="">Ofertas</label>
  </li>
  <li>
    <img src="../../assets/bell-icon.svg" alt="sino">
    <label for="">Novidades</label>
  </li>
</ul>
