  <img class="logo" src="../../assets/app-logo.svg" alt="logo da moswa">
  <form action="post" (submit)="onSubmit($event)">
    <input type="text" placeholder="Seu email" >
    <div>
      <input type="password" placeholder="••••••••">
      <a class="forgot-pass" href="#">Esqueceu?</a>
    </div>
    <button class="button-red" >Entrar</button>
  </form>
  <div class="social-media-container">
    <span class="social-media-label" >Entrar com</span>
    <div>
      <a href="#"><img src="../../assets/google-logo.svg" alt="logo do google"></a>
      <a href="#"><img src="../../assets/facebook-logo.svg" alt="logo do facebook"></a>
    </div>
  </div>
  <span class="footer" >Novo por aqui? <a href="#">Crie sua conta!</a></span>
