<app-header></app-header>
<div class="search-container">
  <button>Filtros</button>
  <input type="text" placeholder="Buscar">
  <img src="../../assets/search-icon.svg" alt="lupa">
</div>
<ul>
  <li *ngFor="let _ of length">
    <img src="../../assets/product-photo.png" alt="produto">
    <img src="../../assets/heart-filled-icon.svg" alt="coração rosa">
    <h4>Corrente de coração Love</h4>
    <span>Correntes Limeira</span>
    <span>Prazo: 15 dias úteis</span>
    <div>
      <span class="brl">R$</span>
      <span class="cost">5,00</span>
      <img src="../../assets/stars-icon.svg" alt="5 estralas">
    </div>
    <button>Comprar</button>
  </li>
</ul>
