<div class="curvy-div">
  <img src="../../assets/app-logo-white.svg" alt="logo da moswa">
  <h1>Seja<br/>bem-vindo <b>à Moswa, Fernando :)</b></h1>
  <p>Sua plataforma digital de conexão multimercados</p>
  <div id="curved-corner-bottomright"></div>
</div>
<span>Selecione um segmento:</span>
<ul>
  <li>
    <a href="#"><img class="house-fix" src="../../assets/house-icon.png" alt="casa"><label for="">Em breve</label></a>
  </li>
  <li>
    <a href="#"><img src="../../assets/sofa-icon.svg" alt="sofá"><label for="">Em breve</label></a>
  </li>
  <li>
    <a href="/menu">
      <div class="circle">
        <img src="../../assets/diamante-icon.svg" alt="diamante">
      </div>
      <label for="">Joias</label>
    </a>
  </li>
  <li>
    <a href="#"><img src="../../assets/baby-cart-icon.svg" alt="carrinho de bebê"><label for="">Em breve</label></a>
  </li>
  <li>
    <a href="#"><img src="../../assets/t-shirt-icon.svg" alt="camisa"><label for="">Em breve</label></a>
  </li>
</ul>
